
 <div>
     <form [formGroup]= "formData" >
    <div >
		
        <input name="id" formControlName="id" placeholder="id" type="text">
        <!----<div *ngIf = "formData.controls.Name.invalid || formData.controls.Name.touched">
           <p>Name Is Required</p>
        </div>----->
    </div>
    <div >
        <input name="fname" formControlName="fname" placeholder="fname" type="text">
        <!---<div *ngIf = "formData.controls.Email.invalid || formData.controls.Email.touched">
        <p>Email Is Required</p>
        </div>---->
    </div>
    
    <button (click)="onSubmit()">Submit</button>
   </form>
 </div>
 <div>
     <table border="2" align="center" cellpadding='5' cellspacing='5'>
    <tr>
        <th>Id</th>
        <th>Fname</th>
        <th>Lname</th>
        <th colspan="2">Action</th>
    </tr>
    <tr *ngFor='let s of slist'>
    <td>{{s.Id}}</td>
        <td>{{s.fname}}</td>
        <td>{{s.lname}}</td>
    </tr>
     </table>
 </div>
